branches:
  - develop
debug: true
ci: true
dryRun: false
plugins: [
  "@semantic-release/release-notes-generator",
  ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.MD",
    }],
  "@semantic-release/npm",
  ["@semantic-release/git", {
      "assets": ["CHANGELOG.MD", "package.json", "package-lock.json"],
      "message": "chore(release): ${nextRelease.version} \n\n${nextRelease.notes}",
  }],
  "@semantic-release/github",
]