$color-1: #00FF77;
$color-2: rgba(255,255,255,0.6);

.widget-camera {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;

  &--front-mode {
    .allow-frame {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 4px solid $color-1;
    }

    .allow-frame__bottom-border {
      display: none;
    }

    .allow-frame--warning {
      border: none;
    }

    .widget-camera-video {
      transform: scaleX(-1);
    }

    .widget-camera-take-photo {
      &[disabled] {
        opacity: 0;
      }
    }
  }

  p {
    &:not(.widget-camera__tap-screen-text) {
      color: white;
    }
  }

  &-info {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 94px;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
  }

  &-processing {
    position: absolute;
    z-index: 4;
    transform: translate(0, -50%);
    top: 50%;
    color: #fff;
    font-size: 18px;
  }

  &-controls {
    position: absolute;
    z-index: 20;
    bottom: 0;
    height: 133px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    mix-blend-mode: screen;

    &--warning {
      mix-blend-mode: unset;
    }
  }

  &-video {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
    margin: 0 auto;
    object-fit: contain;
    height: 100%;
    left: 0;
    right: 0;

    @media screen and (max-width: 500px) {
      width: 100%;
      object-fit: cover;
    }
  }

  &-take-photo {
    -webkit-appearance: none;
    position: relative;
    width: 74px;
    height: 74px;
    background-color: transparent;
    border-radius: 50%;
    border: 6px solid #fff;
    opacity: 1;

    &[disabled] {
      border-color: #CBC9C7;

      .widget-camera-take-photo-effect {
        background-color: #CBC9C7;

        &::after {
          display: none;
        }
      }
    }

    &-effect {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 3px;
      left: 3px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: #fff;

      &::after {
        content: 'READY';
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.34px;
        line-height: 18px;
        color: black;
      }
    }

    &:active &-effect {
      transform: scale(0.85);
    }
  }

  &__video-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__cameras {
    position: absolute;
    left: 0;
    bottom: 133px;
    z-index: 6;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    mix-blend-mode: screen;
  }

  &__cameras-btn-wrap {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, .8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background-color: rgba(255, 255, 255, .8);
      pointer-events: none;

      .widget-camera__cameras-btn {
        color: rgba(0, 0, 0, .8);
      }
    }
  }

  &__cameras-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, .8);
    font-size: 18px;
    font-weight: 600;
    outline: none;
  }

  &__title {
    color: white;
    z-index: 5;
    text-transform: lowercase;
    position: absolute;
    top: 26px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    opacity: 1;

    &::first-letter  {
      text-transform: uppercase;
    }
  }

  &__grade-wrap {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__grade {
    margin-top: -8px;
    margin-bottom: -16px;
  }

  &__grade-container {
    position: relative;
  }

  &__pointer {
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .15s linear;
    will-change: transform;
  }

  &__top-icon {
    position: absolute;
    z-index: 5;
    top: 28px;
    left: 28px;
    max-height: 19px;
  }

  &__tap-screen {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding: 0 16px;
    box-sizing: border-box;

    & ~ .allow-frame {
      opacity: 0;
      z-index: 0;
    }

    & ~ .widget-camera-controls {
      display: none;
    }

    & ~ .widget-camera__grade-wrap {
      display: none;
    }
  }

  &__tap-screen-text {
    color: black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    max-width: 292px;
  }

  &__button {
    display: block;
    height: 50px;
    width: 275px;
    border-radius: 4px;
    background-color: #343239;
    padding: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
  }

  &__tap-screen-icon {
    width: 100%;
    max-width: 112px;
    margin-top: auto;
  }

  &__tap-screen-button {
    margin-top: auto;
    margin-bottom: 20px;
  }

  &__photo-timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 270px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 316px;
    text-align: center;
    color: $color-1;
  }
}

.allow-frame {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 128px);
  height: calc(100% - 128px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  border-left: 4px solid $color-1;
  border-right: 4px solid $color-1;
  border-top: 4px solid $color-1;

  &--warning {
    border-left: 4px solid $color-2;
    border-right: 4px solid $color-2;
    border-top: 4px solid $color-2;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;

    .allow-frame__bottom-border {
      &::before,
      &::after {
        background-color: $color-2;
      }
    }

    .allow-frame__warning-content {
      visibility: visible;
      opacity: 1;
    }
  }

  &--hidden {
    opacity: 0;
  }

  &__bottom-border {
    position: absolute;
    height: 74px;
    left: 0;
    right: 0;
    bottom: -35px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;

    &::before,
    &::after {
      content: '';
      background-color: $color-1;
      height: 4px;
      flex: 1;
    }
  }

  &__bottom-border-space {
    width: 100px;
    margin: 0 auto;
  }

  &__warning-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
  }

  &__warning-txt {
    font-size: 16px;
    line-height: 22px;
    max-width: 161px;
    text-align: center;
    color: white;
    margin: 0;
  }

  &__warning-img {
    margin-bottom: 30px;
    height: 92px;
  }

  audio {
    opacity: 0;
  }
}
